body {
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    font-family: system-ui;
    font-size: clamp(12px, calc(0.7rem + 0.25vw), 20px);
    color: white;
    font-weight: 400;
    line-height: 1.7;
  }
  
  #container {
    margin: 0px 350px 0px 350px;
    max-width: 600px;
  }
  #survey-form {
    color: black;
    padding: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.85;
  }
  #title {
    text-shadow: 2px 2px 4px #000000;
  }
  #description {
    text-shadow: 2px 2px 4px #000000;
  }
  .input-tags {
    font-family: cursive;
  }
  .input-box {
    width: 560px;
    border-radius: 5px;
    border: 1px solid #319197;
  }
  input[type='text'],
  input[type='email'],
  input[type='number'] {
    height: 30px;
  }
  .input-box:focus,
  .input-box:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .input-box:hover,
  .input-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  textarea {
    margin-bottom: 20px;
  }
  #dropdown {
    width: 560px;
    border-radius: 5px;
    border: 1px solid #319197;
    height: 30px;
  }
  #submit {
    background-color: #af002d; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }